<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap mp rescap desktop">

  <Identity
    Name="d618b0dd-3609-4502-9765-29c88b4f5e3f"
    Publisher="CN=thoma"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>packaging</DisplayName>
    <PublisherDisplayName>thoma</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="packaging"
        Description="packaging"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Images\Wide310x150Logo.png" />
      </uap:VisualElements>
  <Extensions>
    <desktop:Extension Category="windows.fullTrustProcess" Executable="testConsole\testConsole.exe" >
      <desktop:FullTrustProcess>
        <desktop:ParameterGroup GroupId="Background" Parameters="/background" />
        <desktop:ParameterGroup GroupId="WPF" Parameters="/wpf" />
        <desktop:ParameterGroup GroupId="WinForms" Parameters="/winforms" />
        <desktop:ParameterGroup GroupId="Win32" Parameters="/win32" />
        <desktop:ParameterGroup GroupId="RemoteDesktop" Parameters="/mstsc" />
        <desktop:ParameterGroup GroupId="Parameters" Parameters="/parameters" />
      </desktop:FullTrustProcess>
    </desktop:Extension>
    <desktop:Extension Category="windows.fullTrustProcess" Executable="testConsole\ffmpeg\bin\ffmpeg.exe" />
      <uap:Extension Category="windows.appService">
      <uap:AppService Name="SampleInteropService" />
    </uap:Extension>
  </Extensions>
    
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>